# CLUSTER (keep this information secured)

rhocp_user: <admin username for OpenShift API access>
rhocp_password: <password for admin user>
server: https://api.<mgmt1 cluster FQDN>:6443

# IDM

ipa_admin_password: <Password for IDM admin user>
ipa_dir_mgr_pass: <Password for IDM directory manager user>
idm_activation_key: <satellite activation key for IDM subscription>
idm_ocp_bind_password: <Password used by OCP to query IDM for user credentials>

# Satellite

satellite_admin_username: <admin username for satellite login (VM and GUI)>
satellite_admin_password: <password for satellite admin user>
satellite_org_name: <organization name for satellite configuration>
ansible_user: <The user name that ansible would use to configure the satellite VM>
rhsm_username: <Red Hat subscription management user name to register satellite>
rhsm_password: <Red Hat subscription management password>

# GitLab

git_root_password: <root password for gitlab server>
git_activation_key: <satellite activation key for git vm subscription>

